@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root{

  /* COLORS */
  --lightGrey: #F2F3F4;
  --accentColor: #201d29;
  --borderColor: #CCCCCC;
  /* --borderColor: #D6D6D6; */
  --copyColor: #333333;
  --primaryColor: #AB61E5;
  --primaryLightColor: #faf5ff;
  --primaryMediumColor: #e7e2f8;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--copyColor);
  font-size: 1rem;
  min-height: 100vh;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #AB61E5 #E6D3EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 13px;
  width: 13px;
}
*::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: #E6D3EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #E9C7EB;
}

*::-webkit-scrollbar-track:active {
  background-color: #CDBCD1;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #AB61E5;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #B120E5;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #7944A2;
}
